<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div role="banner">
      <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Market</span>
        <span class="example-spacer"></span>
        <button mat-button [matBadge]="quantity ? quantity : ''" [matBadgePosition]="quantity ? 'before' : ''"
          [matBadgeColor]="quantity ? 'accent' : ''" [routerLink]="['/checkout']">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="add to card">shopping_cart</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="main" role="main">
      <mat-sidenav #drawer class="sidenav" [ngClass]="{ 'fixed' : (isHandset$ | async) }"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">

        <mat-nav-list role="navigation">
          <a mat-list-item [routerLink]="['/products']">Products</a>
          <a mat-list-item [routerLink]="['/orders']">Orders</a>
        </mat-nav-list>
      </mat-sidenav>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>