<div class="shipping" *ngIf="products && total else noProduct">
    <div class="row">
        <div class="col-md-12">
            <table mat-table [dataSource]="products" class="mat-elevation-z8">
    
                <!-- ProductName Column -->
                <ng-container matColumnDef="ProductName">
                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
                </ng-container>
    
                <!-- ProductPrice Column -->
                <ng-container matColumnDef="ProductPrice">
                    <th mat-header-cell *matHeaderCellDef> Product Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.ProductPrice}} </td>
                </ng-container>
    
                <!-- AvailablePieces Column -->
                <ng-container matColumnDef="AvailablePieces">
                    <th mat-header-cell *matHeaderCellDef> Available Pieces </th>
                    <td mat-cell *matCellDef="let element"> {{element.AvailablePieces}} </td>
                </ng-container>
    
                <!-- ProductImg Column -->
                <ng-container matColumnDef="ProductImg">
                    <th mat-header-cell *matHeaderCellDef> Product Img </th>
                    <td mat-cell *matCellDef="let element">
                        <img class="ProductImg" [src]="element.ProductImg" [alt]="element.ProductName">
                    </td>
                </ng-container>
    
                <!-- Quantity Column -->
                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ element.quantity }}
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <h3>
                    Shipping
                </h3>
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Name">
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput placeholder="Address">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-select placeholder="Select Payment">
                            <mat-option value="cash">Cash</mat-option>
                            <mat-option value="online">Online</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="total">
                    <button mat-stroked-button color="primary">Checkout</button>
                    <span>
                        <strong>Total</strong> : {{ total }} EGP
                    </span>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #noProduct>
    <h2 class="noProduct">No Products available in card</h2>
</ng-template>